*
{
    margin:0;
    padding:0;
}
body
{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.container
{
    padding:50px;
}
.section-one
{
    background-color:black;
    color:white;
    text-align: center;
}
.section-one__para
{
    color:#636161;
}
.section-two
{
    text-align: center;
    background-color:whitesmoke;
}
.section-two div
{
    width:200px;
    padding: 20px;
    display:inline-block;
}
.section-two img
{
    width:200px;
}
.section-two button
{
    background-color:black;
    color:white;
    display:inline-block;
    padding:5px;
}
.section-three
{
    background-color:black;
    color:white;
    text-align: center;
}
.section-three__table
{
    padding-left:600px;
}
.section-three__table td
{
    text-align:left;
}
.section-three__form button
{
    width:500px;
    height:30px;
    margin:8px;
    background-color:chartreuse;
    display:inline-block;
}